* text=auto

*.bat text eol=crlf
*.bib text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.cpt binary
*.edr binary
*.npz binary
*.pdf binary
*.tpr binary
*.trr binary
*.xtc binary
